<div class="main" *ngIf="!splash">
  <div class="header">
    <img class="icon-ham" (click)="toggleSideNav()" src="assets/hamburger.png"/>
    <img src="assets/logo_web.svg" />
    <div class="flex-1"></div>
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Search..." (keyup.enter)="search()" [(ngModel)]="searchTerm" />
      <span class="search-icon"><i class="fas fa-search"></i></span>
    </div>
  </div>
  <div class="tab-container">
    <div class="nav-container">
      <ul>
        <li [routerLinkActive]=" 'active'" [routerLinkActiveOptions]= "{exact: true}"><a routerLink="">Home</a></li>
        <li [routerLinkActive]=" 'active'"><a routerLink="favourite">Favourite</a></li>
        <li [routerLinkActive]=" 'active'"><a routerLink="recent">Recent Search</a></li>
      </ul>
      <h3>{{searchResults.current.last_updated | date: 'EEE, d MMM y, h:mm a' }}</h3>
    </div>
    <div class="component-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="side_nav_main" *ngIf="sideNav" (click)="toggleSideNav()">
  <div class="side_nav">
      <div class="nav_text" routerLink="" [routerLinkActive]="'nav_active'" [routerLinkActiveOptions]= "{exact: true}">Home</div>
      <div class="nav_text" routerLink="favourite" [routerLinkActive]="'nav_active'">Favourite</div>
      <div class="nav_text" routerLink="recent" [routerLinkActive]="'nav_active'">Recent Search</div>
  </div>
  <div class="side_overlay"></div>
</div>
<div class="splash" *ngIf="splash">
  <div class="splash_logo"><img src="/assets/logo_web.svg"/></div>
</div>
